	<% content_for :sidebar do || %>
		<%= render :partial=> "sidebar" %>      
    <% end %>
	
<% form_for @user, :url => url_for(:action => "changepassword") do |f| %>
<%= f.error_messages %>
<div class="edit">
	<div>
		<div>username: </div>
		<div><%= @logon_uname %></div>
	</div>
	<div>
		<div>password lama: </div>
		<div><%= f.password_field :oldpassword %></div>
	</div>
	<div>
		<div>password baru: </div>
		<div><%= f.password_field :password, :value => "" %></div>
	</div>
	<div>
		<div>konfirmasi password baru: </div>
		<div><%= f.password_field :password_confirmation, :value => "" %></div>
	</div>
	<div class="center">
		<div><%= submit_tag "ubah password" %></div>		
	</div>
</div>
<% end %>
