
<p>
  <b>User:</b>
  <%=h @user.user_id %>
</p>

<p>
  <b>Template:</b>
  <%=h @user.template_id %>
</p>

<p>
  <b>Username:</b>
  <%=h @user.username %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Created at:</b>
  <%=h @user.created_at %>
</p>

<p>
  <b>Activated:</b>
  <%=h @user.activated %>
</p>

<p>
  <b>Open resume:</b>
  <%=h @user.open_resume %>
</p>

<%= link_to 'Back', admin_users_path %>